@import "media";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header*/
.navbar {
    border-bottom: 3px red solid;
}

.nav-link {
    text-transform: uppercase;
    color: white;
}

.nav-item+.nav-item {
    margin-left: 30px;
}

.nav-item:last-child {
    margin-right: 75px;
}

.navbar-brand {
    img {
        border-radius: 50%;
    }
}

/*main*/
main {
    background-color: rgb(80, 80, 80);
    padding-bottom: 25px;
}

.info_block {
    background-color: white;
    padding: 20px;
}

.info_block+.info_block {
    margin-left: 20px;
}

h2 {
    text-align: center;
}

.information__covid__map {
    img {
        width: 70%;
    }
}

/*modal*/

.information__covid__map {
    position: relative;
}

.button_1 {
    position: absolute;
    top: 40%;
    left: 46%;
}

.button_2 {
    position: absolute;
    top: 44.5%;
    left: 42%;
}

.btn {
    outline: 0;
    box-shadow: none;

    &:focus {
        outline: 0;
        box-shadow: none !important;
    }
}

.focus {
    outline: 0;
    sbox-shadow: none;
}

/*modal*/

.information__covid__map {
    position: relative;
}

.button_1 {
    position: absolute;
    top: 42.5%;
    left: 40.5%;
}

.button_2 {
    position: absolute;
    top: 43%;
    left: 36.5%;
}

.btn {
    outline: 0;
    box-shadow: none;

    &:focus {
        outline: 0;
        box-shadow: none !important;
    }
}

.focus {
    outline: 0;
    sbox-shadow: none;
}

/*card*/
.information__covid_cards {
    width: 100%;
    border-top: solid red 2px;
    border-bottom: solid red 2px;
    padding-bottom: 25px;
}

._info_covid_header {
    margin-top: 30px;
    color: white;
    margin-bottom: 45px;
}

._wrapper_card {
    margin-top: 25px !important;
}

.fas {
    margin-left: 10px;
}